---
layout: default
---

<div class="header">
  <h1>/<a href="http://miscmoon.github.io" title="Index /">miscmoon</a></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="intro">
    <p align="justify">I am a psychologist interested in the intersection of the self, society, and politics.<br /> Born in Madrid, Spain, I grew up in several different countries, an only child and lover of books. I am currently based in Santiago, Chile. I am a perpetual learner, moved by the quotidian, patterns, and obscure stories from the past. When not working, I can usually be found reading some form of literature with a damn good cup of coffee in hand. </p>
</div>
<div class="blog">
    <h1><strong>Writings</strong></h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%d %b %Y' }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="footer">
    Copyright © 2017 Luana Marina. <a href="#top">Back to the top ^</a>
</div>
<script src="/assets/js/main.js"></script>

