---
layout: default
---

<div class="header">
  <h1>/<a href="http://miscmoon.github.io" title="Index /">miscmoon</a></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="intro">
    <p align="justify">I am a psychologist interested in the intersection of the self, society, and politics; moved by the quotidian, patterns, and obscure stories from the past. /miscmoon is a collection of writings and incomplete thoughts on the universe of topics that interest me. > <a href="http://miscmoon.github.io/me">Read more</a></p>
</div>

<div class="blog">
    <h1>Words</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%d %b %Y' }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <br />
    
    <h1>Reading and course notes</h1>
    Soon.
</div>

<div class="footer">
    Copyright © 2017 Luana Marina. <a href="#top">Back to the top ^</a>
</div>
<script src="/assets/js/main.js"></script>
